<div class="span4">
    <%= image_tag "#{@base_url}/assets/images/wvu/logo.png", :class=>"img-responsive lib-logo-img" %>
    <span class="lib-logo-text"> <a href="https://lib.wvu.edu">Libraries</a> </span>
</div>
