<div class="container">
    <div class="row">
        <div class="school-footer span6">
            <p>
                <span class="footerTitle">
                    West Virginia &amp; Regional <strong>History Center</strong>
                </span> <br>

                <a href="http://lib.wvu.edu">WVU Libraries</a>
                <br>
                West Virginia University
                <br>
                1549 University Ave. | P.O. Box 6069
                <br>
                Morgantown, WV 26506-6069
                <br>
                Phone: <a href="tel:13042933536">1-304-293-3536</a>
                <br>
                <br>
                <em>
                    © West Virginia University. Last modified March 28, 2013.
                    <span class="disclaimer">
                        West Virginia University is an Equal Opportunity/Affirmative
                        Action Institution.
                    </span>
                </em>
            </p>
        </div>
        <!-- WVU Footer -->
        <div class="wvu-footer span6">
            <ul class="wvuFooterSites">
                <li>
                    <a href="http://www.wvuf.org/" target="_blank">Give</a>
                </li>


                <li>
                    <a href="http://itunes.wvu.edu/" target="_blank">iTunes U</a>
                </li>


                <li>
                    <a href="http://mix.wvu.edu/" target="_blank">MIX</a>
                </li>


                <li>
                    <a href="http://careerservices.wvu.edu/" target="_blank">MTRAK</a>
                </li>


                <li>
                    <a href="http://myaccess.wvu.edu/" target="_blank">My Access</a>
                </li>


                <li>
                    <a href="http://emergency.wvu.edu/alert/" target="_blank">WVU Alert</a>
                </li>


                <li>
                    <a href="http://wvutoday.wvu.edu" target="_blank">WVU Today</a>
                </li>
            </ul>


            <ul class="wvuFooterSocial">
                <li>
                    <a class="socmedia" href="https://www.facebook.com/wvrhc" target=
                    "_blank"><img alt="Facebook" src=
                    "https://lib.wvu.edu/images/2015/facebook.png" title="Facebook"></a>
                </li>


                <li>
                    <a class="socmedia" href="https://www.flickr.com/photos/wvulibraries/"
                    target="_blank"><img alt="Flickr" src=
                    "https://lib.wvu.edu/images/2015/flickr.png" title="Flickr"></a>
                </li>


                <li>
                    <a class="socmedia" href="https://plus.google.com/100326194366145492876"
                    rel="publisher" target="_blank"><img alt="Google+" src=
                    "https://lib.wvu.edu/images/2015/google.png" title="Google+"></a>
                </li>


                <li>
                    <a class="socmedia" href="http://instagram.com/wvulibrarianlinda" target=
                    "_blank"><img alt="Instagram" src=
                    "https://lib.wvu.edu/images/2015/instagram.png" title="Instagram"></a>
                </li>


                <li>
                    <a class="socmedia" href="https://www.pinterest.com/wvulibraries/" target=
                    "_blank"><img alt="Pinterest" src=
                    "https://lib.wvu.edu/images/2015/pinterest.png" title="Pinterest"></a>
                </li>


                <li>
                    <a class="socmedia" href="https://twitter.com/wvuLibraries" target=
                    "_blank"><img alt="Twitter" src=
                    "https://lib.wvu.edu/images/2015/twitter.png" title="Twitter"></a>
                </li>


                <li>
                    <a class="socmedia" href="http://www.youtube.com/WVULibraries" target=
                    "_blank"><img alt="Youtube" src=
                    "https://lib.wvu.edu/images/2015/youtube.png" title="Youtube"></a>
                </li>
            </ul>
        </div>

    </div>
</div>